POSTGRES_USERNAME=user
POSTGRES_PASSWORD=password
POSTGRES_DATABASE_NAME=express_jwt_auth

PORT=3000

DATABASE_URL="postgresql://user:password@localhost:5432/express_jwt_auth?schema=public"
ACCESS_TOKEN_PRIVATE_KEY=-----BEGIN RSA PRIVATE KEY-----MIICWgIBAAKBgGAYyAOvxJCvf79RpS0FTMWCWhvgCXMROgyn8bqxGN4ymkkVlPpwIkXCCDozlYSwN2a2vj/kmVgWRxShbrKogK5YatAtS30CFpW2C5YlfVEKYe+yDMaptera+AYfpLCIoxNhSpfdKtbdiTuKpQsj4JXTWt6BiaVupzK8fUFDBjnlAgMBAAECgYA5XbHRWZU7VjkpqgCz3o0U/xrxtw2NDoSb14obi+svgf/Ojz6vPk+HWyx0KiUg391CyObL15ifGDV4oGIn7yVZsQQ3H8hqAz3qLK3G5gdd7moJcbR2jTbNDpzs9EZ62KCbdOCU0sp1Omby0Te3CM0x1dcKPesI7Wzr0Ve13Wqq5QJBALkKjNybGW31C+Nx0R2WEZRlVILHMKn8LBedwzIzy4lbPIIbjGJeiJ5l0NvN9YJ0h1Ra7VpkEbmSE5+PYWapmcsCQQCE8pSZHyUfnliALEYpMCzR6oVe1JDF1vrG7OjtZ8qxFvw7WSW/z2aMy4euubc82PfrwMOpu6BOmzVpUhlvl8UPAkBj4f4HVvFzGUNBkr5+afMzVz83GK58E1L5rH8hKjREAKu4z4YH01+LoQoMnDBaKuyh7DMTB9FJikBtcMfy0rnhAkAuMF1CKZjrOEdFGJyzmKIpuBHoFW/K3Fq6G/r86C96gSLWt60uy660Qc38/VbVFAhmZs1TvfT++lt/IN/nblIvAkBETcSNL85Y+O+XTu8ctlvNwQ5iqpRYx9X1Pd/DXHbMN2h8myR9eR4kdjrdEmwbDgwiA3l17aXiTSRU2DTFo694-----END RSA PRIVATE KEY-----
